
:root {
	--theme-color: #ff5912;
	--text-color:#34404b;
}
.text-color {
	color: var(--text-color);
}
.theme-color {
	color: var(--theme-color);
}
body {
	background: #f4f6f8;
	font-family: 'Open Sans';
	
}
.bg-gray {
	background: #f4f6f8;
}
.navbar.navbar-default {
	background: #fff;
}
.items {
	display: block;
	    background-color: #ffffff;
	    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); */
	    border-radius: 1px;
	    padding: 15px 15px;
	    width: 100%;
	    /*max-height: 330px;*/
	    margin-top: 15px;
	    margin-bottom: 15px;
}
.items img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.sidebox {
	    background: #fff;
    padding: 15px;
    margin-top: 30px;
}
.sidebox:first-child {
	margin-top: 15px;
}
.cllist {
	padding: 0;
}
.cllist li {
	list-style: none;
}
.cllist li a {
	display: block;
	    color: var(--text-color);
	    padding: 9px 0;
	    font-weight: 600;
}

.mt20 {
	margin-top: 20px;
}
.mt40 {
	margin-top: 40px;
}


.slider-labels {
  margin-top: 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: var(--text-color);
}

/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
  background:var(--text-color);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid var(--text-color);
  border: 8px solid #34404b8c;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}
.range-form input {
	background: #e8e8e8;
	    border: none;
	    height: 28px;
}
.range-form label {
	font-weight: 600;
	margin-top: 3px;
}


#view-code{
  color:#48cfad; 
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:640px; left:50%;margin-left:-35px;
}
#view-code:hover{color:#34c29e;}


#product-front, #product-back{
	width:335px;
	height:500px;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
#product-back{
	display:none;
	transform: rotateY( 180deg );
}
.product-card.animate #product-back, .product-card.animate #product-front{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.product-card img {
	max-width: 100%;
}
.product-card{
	width:100%;
	height:490px;
	position:relative;    
	top:10px;
	left:10px;	
	overflow:hidden;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}
div.product-card.flip-10{
	 -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
			   transition:  50ms ease-out; 			
}
div.product-card.flip90{
	 -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
			   transition:  100ms ease-in; 			
}
div.product-card.flip190{
	 -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
			   transition:  100ms ease-out; 			
}
div.product-card.flip180{
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			   transition:  150ms ease-out; 			
}
.product-card.animate{
	top:5px;
	left:5px;
	width: 100%;
	height:500px;
	box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
.stats-container{

margin-top: 20px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}

.product-card.animate .stats-container{
	top:272px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.no-bg {
	background: none;
}
.stats-container .product_name{
	font-size:20px;
	color:#393c45;	
}
.stats-container .product_name a {
	text-decoration: none;
}
.stats-container p{
	color: #969699;
	    font-size: 14px;

}
.stats-container .product_price{
	float:right;
	color:var(--theme-color);
	font-size:22px;
	font-weight:600;
}
.adc {
	background: #ff5912;
	    color: #fff;
	    border: none;
	    border-radius: 0;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:#48daa1;
	opacity:0;	
}
.product-card.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:2px 0 0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
#view_details{	
	position:absolute;
	top:112px;
	left:50%;
	margin-left:-85px;	
	border:2px solid #fff;
	color:#fff;
	font-size:19px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	width:172px;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
#view_details:hover{	
	background:#fff;
	color:#48cfad;
	cursor:pointer;

}
.product-card.animate #view_details{
	opacity:1;
	width:152px;
	font-size:15px;
	margin-left:-75px;
	top:115px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
div.colors div{
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	float:left;
}
div.colors div span{
	width:15px; 
	height:15px; 
	display:block;
	border-radius:50%;
}
div.colors div span:hover{
	width:17px;
	height:17px;
	margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{
	background:#fff;
	width:14px;
	height:14px; 
	border:1px solid #e8e9eb;
}
div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
#product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
#flip-back{
	position:absolute;
	top:20px;
	right:20px;
	width:30px;
	height:30px;
	cursor:pointer;
}
#cx, #cy{
	background:#d2d5dc;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
#flip-back:hover #cx, #flip-back:hover #cy{
	background:#979ca7;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
#cx.s1, #cy.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#carousel{
	width:335px;
	height:500px;
	overflow:hidden;
	position:relative;

}
#carousel ul{
	position:absolute;
	top:0;
	left:0;
}
#carousel li{
	width:335px;
	height:500px;
	float:left;
	overflow:hidden;	
}
.arrows-perspective{
	width:335px;
	height:55px;
	position: absolute;
	top: 218px;
	transform-style: preserve-3d;
    transition: transform 5s;
	perspective: 335px;
}
.carouselPrev, .carouselNext{
	width: 50px;
	height: 55px;
	background: #ccc;
	position: absolute;	
	top:0;
	transition: all 200ms ease-out; 
	opacity:0.9;
	cursor:pointer;
}
.carouselNext{
	top:0;
	right: -26px;
	-webkit-transform: rotateY( -117deg );
         -moz-transform: rotateY( -117deg );
           -o-transform: rotateY( -117deg );
              transform: rotateY( -117deg );
			  transition: all 200ms ease-out; 			

}
.carouselNext.visible{
		right:0;
		opacity:0.8;
		background: #efefef;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
.carouselPrev{		
	left:-26px;
	top:0;
	-webkit-transform: rotateY( 117deg );
         -moz-transform: rotateY( 117deg );
           -o-transform: rotateY( 117deg );
              transform: rotateY( 117deg );
			  transition: all 200ms ease-out; 

}
.carouselPrev.visible{
		left:0;
		opacity:0.8;
		background: #eee;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
#carousel .x, #carousel .y{
	height:2px;
	width:15px;
	background:#48cfad;
	position:absolute;
	top:31px;
	left:17px;
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);	
}
#carousel .x{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
	top:21px;
}
#carousel .carouselNext .x{
	-ms-transform: rotate(45deg); 	
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		
}
#carousel .carouselNext .y{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
}
.btn-outline {
	border: 1px solid var(--theme-color);
	background: none;
	color: var(--theme-color); 
}
.view-img {
	width: 100%;
}
.spacethis {
	padding-top: 50px;
	padding-bottom: 50px;
}
.product-vew-details {
	font-weight: 700;
	color: var(--theme-color);
	text-transform: uppercase;
}
.para {
	color: var(--text-color);
	line-height: 2;
	font-size: 15px;
}
.size-row {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 30px 0;
	margin-top: 30px;
	margin-bottom: 30px;
}
.btn-theme {
	background: var(--theme-color);
	color: #fff;
}
.btn-round {
	border-radius: 30px;
}
.heading {
	font-weight: 700;
	text-transform: uppercase;

}

.lSSlideOuter .lSPager.lSGallery li.active:before {
	content: '';
	    display: block;
	    background: #ff591287;
	    position: absolute;
	    z-index: 1;
	    width: 44%;
	    height: 100%;
}


.content {
  position: relative;
 
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
.vdetails {
	font-size: 16px;
	color: #fff;
}
.vdetails:hover {
	color: #fff;
}

/*add to cart*/


.cd-add-to-cart {
  
  color: #ffffff;
 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s;
  transition: all .2s;
}
.cd-add-to-cart:hover {
  background: #e84600;
  color: #fff;
}
.cd-add-to-cart:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-cart-container::before {
  /* dark bg layer visible when the cart is open */
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s;
}

.cd-cart-container.cart-open::before {
  opacity: 1;
  visibility: visible;
}
.cd-cart-trigger {
	background: #fff;
	border-radius: 3px;
}
.cd-cart-trigger,
.cd-cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}
.empty .cd-cart-trigger, .empty
.cd-cart {
  /* hide cart */
  -webkit-transform: translateY(150px);
      -ms-transform: translateY(150px);
          transform: translateY(150px);
}
@media only screen and (min-width: 1170px) {
  .cd-cart-trigger,
  .cd-cart {
    bottom: 40px;
  }
}

.cd-cart-trigger {
  /* button that triggers the cart content */
  z-index: 3;
  height: 72px;
  width: 72px;
  /* replace text with image */
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.cd-cart-trigger::after, .cd-cart-trigger::before {
  /* used to create the cart/'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url(../img/cd-icons-cart-close.svg) no-repeat 0 0;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
}
.cd-cart-trigger::after {
  /* 'X' icon */
  background-position: -72px 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cart-open .cd-cart-trigger::before {
  opacity: 0;
}
.cart-open .cd-cart-trigger::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.cd-cart-trigger .count {
 padding: 0;
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  -webkit-transition: -webkit-transform .2s .5s;
  transition: -webkit-transform .2s .5s;
  transition: transform .2s .5s;
  transition: transform .2s .5s, -webkit-transform .2s .5s;
}
.cd-cart-trigger .count li {
	list-style: none;
  /* this is the number of items in the cart */
  position: absolute;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.cd-cart-trigger .count li:last-of-type {
  visibility: hidden;
}
.cd-cart-trigger .count.update-count li:last-of-type {
  -webkit-animation: cd-qty-enter .15s;
          animation: cd-qty-enter .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.cd-cart-trigger .count.update-count li:first-of-type {
  -webkit-animation: cd-qty-leave .15s;
          animation: cd-qty-leave .15s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.cart-open .cd-cart-trigger .count {
  -webkit-transition: -webkit-transform .2s 0s;
  transition: -webkit-transform .2s 0s;
  transition: transform .2s 0s;
  transition: transform .2s 0s, -webkit-transform .2s 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.empty .cd-cart-trigger .count {
  /* fix bug - when cart is empty, do not animate count */
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cart-open .cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart {
  /* cart content */
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}
.cd-cart .wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 6px;
  -webkit-transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
          transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}
.cd-cart header, .cd-cart footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
}
.cd-cart header, .cd-cart .body {
  opacity: 0;
}
.cd-cart header {
  top: 0;
  border-radius: 6px 6px 0 0;
  padding: 0 1.4em;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  -webkit-transition: opacity .2s 0s;
  transition: opacity .2s 0s;
  border-bottom: 1px solid #e6e6e6;
}
.cd-cart header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-cart footer {
  bottom: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}
.cd-cart h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1em;
}
.cd-cart .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  color: #808b97;
}
.cd-cart .undo a {
  text-decoration: underline;
  color: #2b3e51;
}
.cd-cart .undo a:hover {
  color: #2c97de;
}
.cd-cart .undo.visible {
  opacity: 1;
  visibility: visible;
}
.cd-cart .checkout {
  display: block;
  height: 72px;
  line-height: 60px;
  margin-right: 72px;
  background: var(--theme-color);
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.8rem;
  -webkit-transition: all .2s 0s;
  transition: all .2s 0s;
}

.cd-cart .checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: -webkit-transform 0s .2s;
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}
.cd-cart .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.cd-cart .body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
  padding: 20px 0 10px;
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.cd-cart .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
}
.cd-cart .body li {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, -webkit-transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s;
  transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s;
}
.cd-cart .body li::after {
  clear: both;
  content: "";
  display: block;
}
.cd-cart .body li:not(:last-of-type) {
  margin-bottom: 20px;
}
.cd-cart .body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  -webkit-animation: cd-item-slide-out .3s forwards;
          animation: cd-item-slide-out .3s forwards;
}
.cd-cart .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  -webkit-animation: cd-item-slide-in .3s forwards;
          animation: cd-item-slide-in .3s forwards;
}
.cd-cart .body li.deleted + li {
  -webkit-animation: cd-item-move-up-mobile .3s;
          animation: cd-item-move-up-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cd-cart .body li.undo-deleted + li {
  -webkit-animation: cd-item-move-down-mobile .3s;
          animation: cd-item-move-down-mobile .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cd-cart .product-image {
  display: inline-block;
  float: left;
  /* the image height determines the height of the list item - in this case height = width */
  width: 50px;
}
.cd-cart .product-image img {
  display: block;
  max-width: 100%;
}
.cd-cart .product-details {
  position: relative;
  display: inline-block;
  float: right;
  width: calc( 100% - 50px);
  padding: 0.3em 0 0 0.5em;
}
.cd-cart .product-details::after {
  clear: both;
  content: "";
  display: block;
}
.cd-cart h3, .cd-cart .price {
  font-weight: bold;
}
.cd-cart h3 {
  width: 70%;
  float: left;
  /* truncate title with dots if too long */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cd-cart h3 a {
  color: #2b3e51;
}
.cd-cart h3 a:hover {
  color: #2c97de;
}
.cd-cart .price {
  float: right;
  width: 30%;
  text-align: right;
}
.cd-cart .actions {
  font-size: 1.4rem;
  height: 1.6em;
  line-height: 1.6em;
}
.cd-cart .actions::after {
  clear: both;
  content: "";
  display: block;
}
.cd-cart .delete-item, .cd-cart .quantity {
  float: left;
  color: #808b97;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-cart .delete-item {
  margin-right: 1em;
}
.cd-cart .delete-item:hover {
  color: #e94b35;
}
.cd-cart .quantity label {
  display: inline-block;
  margin-right: .3em;
}
.cd-cart .select {
  position: relative;
}
.cd-cart .select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/cd-icon-select.svg) no-repeat center center;
  pointer-events: none;
}
.cd-cart select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  color: #808b97;
}
.cd-cart select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor;
}
.cd-cart select::-ms-expand {
  /* hide default select arrow on IE */
  display: none;
}
.cart-open .cd-cart .wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.cart-open .cd-cart header, .cart-open .cd-cart .body {
  opacity: 1;
}
.cart-open .cd-cart header {
  -webkit-transition: opacity .2s .2s;
  transition: opacity .2s .2s;
}
.cart-open .cd-cart .body {
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
.cart-open .cd-cart .body li {
	list-style: none;
	
  -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: opacity .3s .2s, -webkit-transform .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.cart-open .cd-cart .body li:nth-of-type(2) {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}
.cart-open .cd-cart .body li:nth-of-type(3) {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.cart-open .cd-cart .body li:nth-of-type(4), .cart-open .cd-cart .body li:nth-of-type(5) {
  -webkit-transition-duration: .55s;
          transition-duration: .55s;
}
.cart-open .cd-cart .checkout {
  color: #ffffff;
  -webkit-transition: color .2s .3s;
  transition: color .2s .3s;
}
.cart-open .cd-cart .checkout em {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}
.cart-open .cd-cart .checkout:hover em {
  padding-right: 30px;
}
.cart-open .cd-cart .checkout:hover em::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-cart .body li:not(:last-of-type) {
    margin-bottom: 14px;
  }
  .cd-cart .body li.deleted + li {
    -webkit-animation: cd-item-move-up .3s;
            animation: cd-item-move-up .3s;
  }
  .cd-cart .body li.undo-deleted + li {
    -webkit-animation: cd-item-move-down .3s;
            animation: cd-item-move-down .3s;
  }
  .cd-cart .checkout {
    font-size: 2.4rem;
  }
  .cd-cart .product-image {
    width: 90px;
  }
  .cd-cart .product-details {
    padding: 1.4em 0 0 1em;
    width: calc( 100% - 90px);
  }
  .cd-cart h3, .cd-cart .price {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
  }
}
@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	vertical-align: baseline;
}

	.front-banner-box {
			position: relative;
			width: 100%;
			height: 600px;
		}
		.front-banner-box img {
			width: 100%;
			height: 100%;
			object-fit: cover;

		}
	
		.front-banner-box .front-banner-overlay {
			width: 100%;
			height: 100%;
			background: rgba(229, 229, 233, 0.32);
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
		}

		.navbar.navbar-default {
    background: #fff;
    margin-bottom: 0;
    padding: 10px 0;
}
.stirpped-navbar .navbar.navbar-default {
	padding: 0;
	border: none;
}

/*slider*/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.slider {
  position: relative;
  height: 100vh;
}
.slider__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider__control {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}
.slider__control--right {
  left: 95%;
}
.slider__control:hover {
  background-color: #2da6ff;
}
.slider__control-line {
  position: absolute;
  left: 23px;
  top: 50%;
  width: 3px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.slider__control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-135deg);
          transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider__control-line {
  left: 37px;
  -webkit-transform-origin: 1px 0;
          transform-origin: 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.slider__control--right .slider__control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(135deg);
          transform: translateY(1px) rotate(135deg);
}
.slider__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  transition: background-color 0.3s;
}
.slider__control:hover .slider__control-line:after {
  background-color: #fff;
}
.slider__control.a--rotation .slider__control-line:after {
  -webkit-animation: arrowLineRotation 0.49s;
          animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider__control-line:nth-child(1):after {
  -webkit-animation: arrowLineRotationRev 0.49s;
          animation: arrowLineRotationRev 0.49s;
}

@-webkit-keyframes arrowLineRotation {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes arrowLineRotation {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes arrowLineRotationRev {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@keyframes arrowLineRotationRev {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: -webkit-clip-path 0s 0.91s;
  transition: clip-path 0s 0.91s;
  transition: clip-path 0s 0.91s, -webkit-clip-path 0s 0.91s;
  -webkit-clip-path: circle(30px at 120vw 50%);
          clip-path: circle(30px at 120vw 50%);
}
.slide.s--prev {
  -webkit-clip-path: circle(30px at 30vw 50%);
          clip-path: circle(30px at 30vw 50%);
}
.slide.s--active {
  z-index: 1;
  transition: -webkit-clip-path 1.3s;
  transition: clip-path 1.3s;
  transition: clip-path 1.3s, -webkit-clip-path 1.3s;
  -webkit-clip-path: circle(120vmax at 120vw 50%);
          clip-path: circle(120vmax at 120vw 50%);
}
.slide.s--active.s--active-prev {
  -webkit-clip-path: circle(120vmax at 30vw 50%);
          clip-path: circle(120vmax at 30vw 50%);
}

.slide__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;
  background-size: cover;
  background-position: center center;
}
.slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.slide__content {
  position: absolute;
  left: 5%;
  top: 50%;
  margin-left: -30px;
  margin-top: 48px;
  max-width: 480px;
  color: #fff;
}
.slide__heading {
  margin-bottom: 20px;
  font-size: 60px;
}
.slide__text {
  font-size: 25px;
}
.slide__text a {
  color: inherit;
}

img.profile {
	display: block;
	margin: 0 auto;
	--size: 100px;
	width: var(--size);
	height: var(--size);
}
.footer-status {
	margin-top: 20px;
}
.footer-status .btn {
	box-shadow: none;
}
.top-add {
	background: #fff;
	padding: 30px 10px;
	border-radius: 3px;
	text-align: center;
	margin-top: 17px;
	     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); 
	     margin-bottom: 25px;

}
.social-top li:hover i {
	color: var(--theme-color);
}